header {
  width: 100%;
  height: 80px;
  background-color: $dark;
  color: $light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;

  .logo {
    font-size: 40px;
  }

  .menu {
    display: flex;
    gap: 20px;
  }

  a {
    color: $light;
    transition: 0.2 ease;

    &:hover {
      color: $primary;
      cursor: pointer;
    }
  }
}

.page {
  width: 100%;
  padding-top: 80px;
  height: 100%;
}

.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eee;
}

.admin-page {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  height: 100vh;
}

.user-page {
  display: flex;
  height: 100vh;
  flex-direction: row;
  background-color: rgb(245, 245, 245);

  .no-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 300;
  }

  .user-details {
    padding: 0 20px;
  }

  .user-history {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-left: 1px solid #ccc;
    padding: 25px 15px;

    .orders-list {
      margin-top: 30px;

      .no-orders {
        font-weight: 300;
      }
    }
  }

  .user-info {
    display: flex;
    width: 70%;
    padding: 50px;

    .user-photo {
      background-size: cover;
      background-repeat: no-repeat;
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }

    .user-name {
      font-size: 40px;
      font-weight: 700;
    }

    .user-email {
      font-size: 35px;
      font-weight: 300;
    }
  }
}

.admin-controls {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
  margin-left: 50px;
  margin-right: 50px;
}

.admin-table {
  border-radius: 10px;
  background-color: $light;
  margin-left: 50px;
  margin-right: 50px;

  tr {
    transition: 0.2s ease;
    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
  }

  td {
    padding: 10px 10px;
    border-right: 1px solid #eee;
    &:last-child {
      border-right: none;
    }
  }

  th {
    border-bottom: 1px solid #eee;
    padding: 15px 10px;
  }
}

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  z-index: 1000;
  transition: 0.3s linear;
  top: 0;
}

.cart {
  width: 40%;
  height: 100vh;
  position: absolute;
  right: 0;
  background-color: $light;
  padding: 20px 15px;

  .cart-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .empty-cart {
    font-size: 20px;
    font-weight: 300;
    color: #888;
  }

  .cart-products-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .cart-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    padding: 15px 25px;
    bottom: 20px;
    font-weight: 300;
    font-size: 20px;
    border-top: 1px solid #000;
  }

  .sum-price {
    font-size: 25px;
    font-weight: 700;
  }

  .cart-products-item {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    .cart-item-photo {
      background-size: cover;
      background-repeat: no-repeat;
      height: 75px;
      width: 75px;
    }

    .cart-item-remove {
      position: absolute;
      right: 0;
      font-size: 25px;
      transition: 0.2s ease;
      &:hover {
        color: $red;
        cursor: pointer;
      }
    }

    .cart-item-quantity {
      .inp-quantity {
        height: 35px;
        padding-left: 10px;
        font-weight: 300;
        font-size: 18px;
        width: 75px;
        outline: none;
        border: 1px solid #ccc;
      }
    }

    .cart-item-info {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
    }

    .item-info-brand {
      font-weight: 700;
      font-size: 20px;
    }

    .item-info-price {
      font-weight: 300;
      font-size: 20px;
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  background-color: $light;
  border-radius: 10px;
  padding: 30px 15px;
  box-shadow: 0 0 10px -7px #000;

  .error-alert {
    background-color: lighten($red, 50%);
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid $red;
  }

  .form-title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .field {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .btn-primary {
    width: 40%;
    align-self: center;
    margin-top: 30px;
  }

  .have-acc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
    align-self: flex-end;
    margin-top: 20px;
  }

  a {
    color: darken($primary, 20%);
  }
}

.category-block {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
  padding: 50px;

  .category-item {
    display: flex;
    align-items: flex-end;
    padding: 10px 15px;
    width: 400px;
    height: 550px;
    border-radius: 10px;
    background: $primary;
    background: linear-gradient(180deg, $primary 0%, $secondary 100%);
    font-size: 50px;
    transition: 0.3s ease;

    .category-title {
      color: $light;
      font-weight: 900;
    }

    &:hover {
      filter: hue-rotate(-50deg);
    }
  }
}

.product-block {
  display: flex;
  justify-content: center;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  padding: 75px 50px;
  max-width: 1500px;

  .card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px -15px#000;

    .card-image {
      width: 100%;
      height: 70%;
      min-height: 300px;
      padding-top: 50px 0;
      background-size: auto 100%;
      background-position: center;
      background-repeat: no-repeat;
    }

    .card-noimage {
      width: 100%;
      height: 70%;
      min-height: 300px;
      font-size: 50px;
      background-color: #eee;
      font-weight: 900;
      color: #bbb;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .card-description {
      padding: 20px 50px;
      border-top: 1px solid #eee;
    }

    .brand {
      font-size: 40px;
    }

    .price {
      font-size: 30px;
      font-weight: 700;
    }

    .description-bottom {
      display: flex;
      justify-content: space-between;
      padding: 10px 0px;
    }
  }
}

.filters-tab {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 50px;
  gap: 20px;
  background-color: #eee;
  position: fixed;

  .tab-item {
    display: flex;
    align-items: center;
    gap: 5px;
    // font-weight: 100;
  }
}
